<div class="panel panel-default library-item">
	<div class="panel-heading">
		<h3 class="panel-title">{{item.name}}</h3>
	</div>
	<div class="panel-body" {{action 'clickSound'}}>
		<img src="/images/play-button.png" class="play-button">
		<div>
			<p>{{item.soundType}}</p>

			<p>{{item.audioLocation}}</p>
		</div>
	</div>
	<div class="library-item__add-item-container">
		<p class="library-item__add-item" {{action (action addSound)}}>Add sound</p>
	</div>
</div>
