
{{drop-into-box sources=displaySourcesCopy soundIsAdded=soundIsAdded}}

<div class="row">
  <div class="col-md-1">
    {{#link-to (query-params limit='all' letter='') class='btn btn-default btn-lg btn-block btn-filter'}}All{{/link-to}}
  </div>
  <div class="col-md-1">
    {{#link-to (query-params limit='') class='btn btn-default btn-lg btn-block btn-filter'}}Abc{{/link-to}}
  </div>

  <div class="col-md-10">
    {{#if limitAll}}
      <div class="form-group">
        {{input value=filter class="form-control input-lg" placeholder="Filter sound by name"}}
      </div>
    {{else}}
        <div class="form-group">
          {{abc-buttons}}
        </div>
    {{/if}}
  </div>
</div>

<div class="row">
  {{#each filteredList as |library|}}
    <div class="col-md-4 library-item__container">
      {{library-item item=library badge=library.books.length addSound=(action 'addSound')}}
    </div>
  {{else}}
    {{#if model.isUpdating}}
      {{spinner-cube}}
    {{else}}
      <div class="col-md-12 text-center">
        <div class="alert alert-info">
          Sorry, no result.
        </div>
      </div>
    {{/if}}
  {{/each}}
</div>
